:root {
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: radial-gradient(#5b483a, #262425);
  --footer-gradient-background: radial-gradient(#513d2f, #1a1a1c);
  --paragraph-l: 400 2rem/160% "Arial", sans-serif;
  --paragraph-s: 400 1.5rem/150% "Arial", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  padding-top: 1rem;
  font: var(--paragraph-l);
  color: var(--color-dark-l);
  text-align: center;
  letter-spacing: .06em;
  user-select: none;
  background-color: var(--color-light-l);
}

h3 {
  padding: .2rem 0;
  font: var(--paragraph-s);
  color: var(--color-dark-l);
  text-align: center;
  letter-spacing: .06em;
  user-select: none;
  background-color: var(--color-light-l);
}

p {
  font: var(--paragraph-s);
  font-size: 1rem;
  color: var(--color-dark-3xl);
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 1024px;
  height: calc(100vh - 140px);
  min-height: calc(768px - 140px);
}

.container {
  width: 25%;
  min-width: 256px;
}

.map-block {
  width: 50%;
  min-width: 512px;
  min-height: 100%;
  background-color: rgba(139, 0, 0, .5);
}

.table-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  font-size: 2rem;
  color: var(--color-dark-s);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-dark-3xl);

}

.table-block-controls-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.table-block-controls-wrapper > label {
  display: flex;
  flex-direction: column;
}

.table-block-controls-wrapper select {
  font-size: 2rem;
  color: var(--color-dark-s);
  text-align-last: center;
  background-color: var(--color-dark-3xl);
  outline: none;
}

.table-block li {
  padding: .5rem;
  list-style-type: none;
  background-color: #545454;
  border-bottom: var(--color-dark-3xl) 1rem solid;
}

.chart-block {
  height: 40%;
  background-color: var(--color-dark-3xl);
}

.chart-block-controls-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: space-evenly;
}

.chart-block-controls-wrapper > label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: var(--color-dark-s);
  text-align: center;
  text-transform: uppercase;
}

.chart-block-controls-wrapper > label,
.chart-block-controls-wrapper > button {
  font-size: 1rem;
  color: var(--color-dark-s);
  text-align: center;
  text-transform: uppercase;
}

.chart-block-controls-wrapper select,
.chart-block-controls-wrapper > button {
  font-size: 1rem;
  color: var(--color-dark-s);
  text-align-last: center;
  background-color: var(--color-dark-3xl);
  outline: none;

}

button:hover,
select:hover {
  cursor: pointer;
}

.global-cases-block {
  height: 12%;
  background-color: rgba(139, 139, 0, .5);
}

.list-block {
  height: 88%;
  background-color: rgba(0, 0, 139, .5);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.hidden {
  display: none;
}

.maximize-icon {
  transition: .3s;
  transform: rotate(0deg);
}

.rotate-icon {
  transform: rotate(180deg);
}

/* Footer */
.footer-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 1024px;
  background: url("../images/noise-transparent-2x.png"), var(--footer-gradient-background), #211f20;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
  max-width: 80rem;
  min-height: calc(140px - 2rem);
  padding: 1rem;
  margin: 0 auto;
  font: var(--paragraph-s);
  color: var(--color-primary);
  letter-spacing: .06em;
  grid-column-gap: 12rem;
  grid-row-gap: 1rem;
}

.contributors-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rs-school-logo {
  height: 2rem;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.github-icon {
  width: 1.5rem;
}

.flag-icon {
  width: 1.2rem;
  margin: .1rem;
  box-shadow: .1rem .1rem .25rem rgba(0, 0, 0, .4);
}

@media screen and (max-width: 26rem) {
  footer {
    width: calc(100% - 3rem);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }
}

/* list-block */
.list-wrapper {
  width: 100%;
  height: 100%;
}

.control-wrapper-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
  background-color: #808080;
  border-bottom: 2px solid #fff;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #000;
  border-bottom: 2px solid #fff;
}

.search-input {
  width: 80%;
  height: 30px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  background-color: #808080;
}

.list-items {
  align-items: center;
  width: 95%;
  height: 95%;
  min-height: 0;
  overflow-y: auto;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 12.5%;
  margin-bottom: 2px;
  background-color: #fff;
  border: 1px solid #000;
}

.list-item-big {
  height: 25%;
}

.card-info {
  width: 20%;
  text-align: center;
}

.card-country-name {
  width: 40%;
  overflow: hidden;
  text-align: center;
}

.card-flag {
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
}
